@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* The use case of this font was "display heading, title, name ,logo, numbers" */
  --font-cinzel: var(--font-cinzel), serif;

  /* The use case of this font was "body, lore-paragraphs, hero-section, descriptions, bios,
 navigations, input items, characters title" */
  --font-crimson: var(--font-crimson), serif;

  /* The use case of this font was "technical, labels, tags, badges, metadata,
   timeline tags or name" */

  --font-mono: var(--font-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
